*{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    border: border-box;
}
body{
    padding-top: 80px;
}

/* navbar styling */
.navstrip{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;

    /* Glass Effect */
    background: rgba(18,18,18,0.35);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(18px);

    /* Glass Border */
    border-bottom: 1px solid rgba(255,255,255,0.08);

    /* Soft Shadow */
    box-shadow: 0 8px 30px rgba(0,0,0,.25);

    z-index: 1000;
}

.navcontent{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    max-width: 1400px;
    height: 80px;

    margin: auto;
}
ul{
    display: flex;
    gap: 60px;
    list-style: none;
    margin-left: auto;   /* pushes menu to the far right */
}
ul:hover{
    color:#FFD60A;
    transform: scale(1.01); 
    text-shadow:
        0 0 5px #FFD60A,
        0 0 8px #FFD60A;

}
a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}
.logo{
    color: #FFD60A;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    display: inline-block;

    /* Very subtle glow */
    text-shadow: 0 0 10px rgba(255, 214, 10, 0.2);

    transition: transform 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;
}

.logo:hover{
    color: #fff;
    transform: scale(1.02); 

    /* Minimal white glow */
    text-shadow:
        0 0 8px rgba(255,255,255,0.35),
        0 0 12px rgba(255,255,255,0.2);

}
/* logo */
.logo{
    display: flex;
    align-items: center;
    gap: 15px;

    color: #ffd60a;
    font-size: 2.7rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.logo img{
    width: 60px;
    height: 60px;

    border-radius: 50%;
    object-fit: cover;

    border: 1px solid white;

    transition: 0.3s ease;
}
.logo:hover img{
    transform: scale(1.08);
    box-shadow:
        0 0 8px rgba(255,214,10,.35),
        0 0 18px rgba(255,214,10,.2);
}

/* hero text */
.hero{
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

    max-width: 900px;
    margin: 0 auto;
}
.subtitle{
    font-size: 1.2rem;
    letter-spacing: 6px;
    color: #ffd60a;
    margin-bottom: 10px;
}
.hero h1{
    font-size: 7rem;
    font-weight: 900;
    line-height: 0.9;
    letter-spacing: -4px;
    text-transform: uppercase;
    text-align: center;
}
.description{
    font-size: 1.5rem;
    color: #d6d6d6;
    margin-bottom: 45px;
}
.btn{
    display: inline-block;
    width: fit-content;

    padding: 16px 38px;
    background: #ffd60a;
    color: black;

    text-decoration: none;
    font-weight: bold;

    border-radius: 4px;
    transition: .3s;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 15px rgba(255,214,10,.4);
}
body{
    background:
        linear-gradient(rgba(0,0,0,.55),
                        rgba(0,0,0,.55)),
        url("Wavy lines border in paper cut style_ grey smooth color vintage wallpaper.jpeg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* scroller */
.scroll-indicator{
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);

    width: 30px;
    height: 55px;

    border: 2px solid rgba(255,255,255,.4);
    border-radius: 20px;

    display: flex;
    justify-content: center;

    text-decoration: none;
}
.scroll-indicator span{
    width: 5px;
    height: 10px;

    background: #ffd60a;
    border-radius: 10px;

    margin-top: 8px;

    animation: scroll 1.6s infinite;
}
@keyframes scroll{

    0%{
        opacity:0;
        transform:translateY(0);
    }

    30%{
        opacity:1;
    }

    100%{
        opacity:0;
        transform:translateY(22px);
    }

}
html{
    scroll-behavior:smooth;
}
.hero{
    position: relative;
}


.selected-works{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: -3px;
    color: silver;
}
.box{
    margin-top: 30px;
    display: flex;
    justify-content:space-evenly
    
}
a img{
    width: 400px;
    height: 300px;
    border-radius: 5%;
    transition: 0.3s ease;
    cursor: pointer;
}

a img:hover{
    transform: scale(1.08);
    box-shadow: 0 0 12px white;
}

/* footer */
.foot{
    border-top: 1px solid white;;
    height: 300px;
    background-color: black;
    margin-top: 30px;
}
.foot-name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-weight: 500;
}
h2{
    color: #ffd60a;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.foot-para{
    font-size: 1rem;
    color: #d6d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;   /* Space between the icons */
    width: 100%;
    margin: 20px auto 0;
}

.connect a{
    color: white;
    font-size: 2rem;
    transition: 0.3s ease;
    
}

.connect a:hover{
    color: #FFD60A;
    transform: translateY(-3px);
}